*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    color: rgb(247, 19, 130);
    text-align: center;
    font-family: 'Fredoka One', cursive;
   
}
h3, h4, h5{
    color: white;
    font-family: 'Fredoka One', cursive;  
}
.container{
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
}

p{
    text-align: center;
    
}
.row .card img{
    height: 100px;
}
.row_2 .card img{
    height: 100px;
}
.row{
    margin-bottom: 50px;
    margin-top: 50px;
}

.row .card{
    float: left;
    width: calc(90% / 3);
    background-color: black;
}
.row_2 .card{
    float: left;
    width: calc(90% / 3);
    background-color: black;
}
.text{
    float: right;
    line-height: 30px;
   margin-right: 30px;
}
.card{
    margin-right: 10px;

}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.link{
    color: rgb(10, 104, 255);
}